body {
  padding: 0;
  margin: 0;
}

.game-container {
  padding: 60px 0;
  background-color: #0c0c0c;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

.game__field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.game__card {
  background-color: #fff;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  border-radius: 15px;
  cursor: pointer;
}

.game__card:not(:nth-child(4n)) {
  margin-right: 200px;
}

.game__card.open {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.game__card.success {
  background-color: rgb(11, 240, 49);
}

.btn-restart {
}
